* {
  font-family: "Montserrat";
}

@font-face {
  font-family: "Montserrat";
  src: url("../Font/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.section1 {
  background-image: url(./Pics/cloud_3.png), url(./Pics/cloud_4.png),
    url(./Pics/cloud_1.png), url(./Pics/cloud_3.png), url(./Pics/cat-3_2.png),
    url(./Pics/leaves1.png), url(./Pics/leaves2.png);
  background-size: calc(10.9vw + 2px) auto, calc(6.9vw + 0px) auto,
    calc(5.6vw + 1px) auto, calc(12.5vw + 4px) auto, calc(51.9vw + 4px) auto,
    calc(19.7vw + 0px) auto, calc(23.1vw + 1px) auto;
  background-position: calc(33.4vw + 1px) calc(0.6vw + 0px),
    calc(58.8vw - 3px) calc(4.1vw + 1px), calc(68.8vw + 1px) calc(2.8vw - 1px),
    calc(88.1vw + 3px) calc(5vw - 1px), calc(38.1vw + 4px) calc(17.8vw + 0px),
    left bottom, right bottom;
  background-repeat: no-repeat;
}

.logo {
  padding: calc(1.9vw + 0px) calc(13.8vw + 1px) 0px calc(12.5vw + 0px);
  width: calc(11.6vw + 2px);
  height: auto;
}

.hotelforcats {
  display: block;
  font-size: calc(0.9vw + 1px);
  font-weight: 500;
  line-height: 122%;
  text-align: left;
  color: #f6a6bf;
  margin-left: calc(13.4vw - 2px);
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infotext {
  font-size: calc(0.8vw + 0px);
  font-weight: 600;
  line-height: calc(0.8vw + 0px);
  text-align: left;
  display: flex;
  align-items: left;
  width: calc(11.3vw + 0px);
  height: calc(1.6vw + 1px);
}

.infodetails {
  display: flex;
  flex-direction: row;
  margin-top: calc(3.1vw - 1px);
  align-items: center;
  margin-right: calc(1.9vw + 0px);
}

.icon {
  width: calc(1.3vw + 0px);
  height: calc(1.3vw + 0px);
  margin-right: calc(0.3vw + 0px);
}

.instabutton {
  width: calc(13.8vw + 0px);
  height: calc(3.8vw + 0px);
  border: none;
  border-radius: calc(6.3vw + 0px);
  background: #f6a6bf;
  cursor: pointer;
  font-size: calc(0.9vw + 1px);
  font-weight: 400;
  line-height: 140%;
  color: #ffffff;
  margin-top: calc(1.9vw + 0px);
  margin-right: calc(3.1vw + 0px);
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.instabutton:hover {
  background-color: #ffffff;
  border: 2px solid #f6a6bf;
  color: #f6a6bf;
}

.buttonlogo {
  width: calc(1.9vw + 0px);
  height: auto;
  padding: calc(0.2vw - 0.01px);
  margin-left: calc(1.6vw + 0px);
}

.mainpage {
  display: flex;
  flex-direction: row;
  gap: calc(2vw + 0px);
  margin-bottom: calc(1.9vw + 0px);
}

.zagolovok {
  width: calc(36.9vw + 1px);
  font-size: calc(2.8vw + 3px);
  font-weight: 600;
  line-height: 122%;
  margin-bottom: calc(1.3vw + 0px);
}

.menu {
  margin-left: calc(12.5vw + 0px);
  display: grid;
  grid-template-columns: repeat(5, calc(4.7vw + 1px));
  grid-template-rows: repeat(5, calc(6.9vw + 0px));
}

.application {
  display: flex;
  flex-direction: column;
}

.userName {
  width: calc(14.4vw + 0px);
  height: calc(2.2vw + 1px);
  margin-bottom: calc(1.9vw + 0px);
  border: none;
  border-bottom: 1px solid #242424;
}

.tel {
  width: calc(14.4vw + 0px);
  height: calc(2.2vw + 1px);
  margin-bottom: calc(1.9vw + 0px);
  border: none;
  border-bottom: 1px solid #242424;
}

.applicationdesc {
  width: calc(32.5vw + 3px);
  height: calc(1.6vw + 3px);
  font-size: calc(0.9vw + 3px);
  font-weight: 400;
  line-height: 140%;
  margin-bottom: calc(2.2vw + 0px);
}

.applicationbutton {
  width: calc(13.8vw + 0px);
  height: calc(3.8vw + 0px);
  border: none;
  background: #f6a6bf;
  cursor: pointer;
  color: #ffffff;
  border-radius: 100px;
  font-size: calc(0.9vw + 3px);
  font-weight: 400;
  line-height: calc(1.5vw + 1.2px);
  text-align: center;
}

.applicationbutton:hover {
  background-color: #ffffff;
  border: 2px solid #f6a6bf;
  color: #f6a6bf;
}
.links {
  grid-area: 1 / 1 / 1 / 1;
  align-items: center;
  width: calc(23.8vw + 1px);
  height: auto;
}

.aboutus {
  grid-area: 3 / 3;
  transform: rotate(-13.84deg);
  font-size: calc(1.9vw + 2px);
  font-weight: 600;
  line-height: 97%;
  color: #ffffff;
  text-align: center;
  align-self: center;
  justify-self: left;
  width: calc(7.5vw + 0px);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

.roomsCosts {
  grid-area: 2 / 1;
  display: flex;
  flex-direction: column;
  transform: rotate(-28.84deg);
  font-weight: 600;
  line-height: calc(2.3vw + 2.8px);
  align-items: center;
  margin-left: calc(-0.3vw + 0px);
  align-self: end;
  justify-self: left;
  width: calc(7.5vw + 0px);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

.rooms {
  font-size: calc(1.3vw - 4px);
  font-weight: 600;
  line-height: 140%;
  color: #ffffff;
}

.costs {
  font-size: calc(0.9vw - 2px);
  font-weight: 500;
  line-height: 122%;
  color: #ffffff;
}

.appBook {
  grid-area: 1 / 2;
  display: flex;
  flex-direction: column;
  transform: rotate(-12.61deg);
  font-weight: 600;
  line-height: 102%;
  align-items: center;
  margin-left: calc(-0.6vw + 2px);
  margin-bottom: calc(0.6vw - 5px);
  align-self: end;
  justify-self: left;
  width: calc(6.3vw + 0px);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

.book {
  font-size: calc(0.6vw - 3px);
  font-weight: 500;
  line-height: 122%;
  color: #ffffff;
}

.book2 {
  display: none;
}

.book3 {
  display: none;
}
.pay {
  grid-area: 2 / 5;
  display: flex;
  flex-direction: column;
  transform: rotate(13.28deg);
  font-size: calc(0.9vw - 1px);
  font-weight: 600;
  line-height: 120%;
  margin-bottom: calc(1.6vw + 0px);
  color: #ffffff;
  align-items: center;
  align-self: center;
  justify-self: right;
  width: calc(6.3vw + 0px);
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

.video {
  grid-area: 1 / 4;
  display: flex;
  flex-direction: column;
  transform: rotate(0.33deg);
  font-weight: 600;
  line-height: 122%;
  margin-bottom: calc(1.6vw + 0px);
  color: #ffffff;
  align-self: end;
  justify-self: right;
  margin-right: calc(0.3vw - 2px);
  width: calc(6.3vw + 0px);
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

.group {
  grid-area: 4 / 1;
  align-items: center;
  transform: rotate(-5.54deg);
  width: calc(11.3vw - 1px);
  margin-left: calc(2.8vw + 4px);
  height: auto;
}
.loveandcare {
  display: none;
}

.hearts {
  display: flex;
  flex-direction: row;
  margin-left: calc(12.5vw + 0px);
}

.hearts2 {
  display: flex;
  flex-direction: row;
  width: calc(19.7vw + 1px);
  height: calc(4.1vw + 1px);
  align-items: center;
  margin-right: calc(4.7vw + 0px);
}

.heartslogo {
  width: calc(2.8vw + 0px);
  height: calc(2.8vw + 0px);
  margin-right: calc(1.3vw + 0px);
}

.hearttext {
  font-size: calc(0.9vw + 1px);
  font-weight: 400;
  line-height: 140%;
}

@media (max-width: 750px) {
  * {
    margin-left: 0px;
  }
  .section1 {
    background-image: url(./Pics/cloud_7.png), url(./Pics/cloud_6.png),
      url(./Pics/cloud_5.png);
    background-size: calc(17.9vw - 0.302px) auto, calc(36.7vw + 0.419px) auto,
      calc(42.6vw - 0.186px) auto;
    background-position: calc(40.2vw + 0.256px) calc(42.6vw - 0.186px),
      calc(46.3vw - 0.093px) calc(67.2vw - 0.07px),
      calc(54.4vw - 0.14px) calc(86.3vw - 0.093px),
      calc(88.1vw + 3px) calc(5vw - 1px);
    background-repeat: no-repeat;
  }
  .logo {
    padding: calc(6.3vw - 0.093px) calc(20.5vw + 0.512px);
    width: calc(58.4vw + 0.209px);
    height: auto;
  }
  .info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .icon {
    width: calc(7.7vw + 0.442px);
    height: auto;
    margin-right: 0px;
    margin-bottom: calc(2.2vw + 0.005px);
  }
  .infodetails {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0px;
    margin-left: calc(0.3vw + 0px);
    margin-right: calc(1.9vw + 0px);
  }
  .infotext {
    font-size: calc(0.7vw + 10.767px);
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: calc(46.7vw + 0.419px);
    height: auto;
    margin-bottom: calc(6.3vw - 0.093px);
  }

  .instabutton {
    width: calc(68.8vw - 0.279px);
    height: calc(18.8vw - 0.279px);
    border: none;
    border-radius: calc(31.2vw + 0.279px);
    background: #f6a6bf;
    cursor: pointer;
    font-size: calc(5.1vw - 0.372px);
    font-weight: 400;
    line-height: 140%;
    color: #ffffff;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    margin-top: calc(9.3vw + 0.233px);
    margin-bottom: calc(9.3vw + 0.233px);
  }
  .instabutton:hover {
    background-color: #ffffff;
    border: 2px solid #f6a6bf;
    color: #f6a6bf;
  }

  .buttonlogo {
    width: calc(9.3vw - 0.233px);
    height: auto;
    margin-left: calc(9.8vw - 0.256px);
  }
  .mainpage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .menu {
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(5, calc(18.6vw + 0.465px));
    grid-template-rows: repeat(5, calc(18.6vw + 0.465px));
  }
  .links {
    grid-area: 1 / 1 / 5 / 5;
    align-items: center;
    width: calc(93.7vw + 0.093px);
    height: auto;
  }
  .aboutus {
    grid-area: 4 / 3;
    transform: rotate(-13.84deg);
    font-size: calc(7.4vw + 0.186px);
    font-weight: 600;
    line-height: 97%;
    color: #ffffff;
    text-align: center;
    align-self: center;
    justify-self: left;
    width: calc(28.1vw - 0.047px);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
  }
  .roomsCosts {
    grid-area: 3 / 1;
    display: flex;
    flex-direction: column;
    transform: rotate(-28.84deg);
    font-weight: 600;
    line-height: calc(2.3vw + 2.8px);
    align-items: center;
    align-self: right;
    justify-self: end;
    width: calc(7.5vw + 0px);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
  }
  .rooms {
    font-size: calc(4.7vw + 0.116px);
    margin-left: calc(-3.7vw - 0.093px);
    font-weight: 600;
    line-height: 140%;
    color: #ffffff;
  }

  .costs {
    font-size: calc(3.7vw + 0.093px);
    margin-left: calc(-3.7vw - 0.093px);
    font-weight: 500;
    line-height: 122%;
    color: #ffffff;
  }
  .appBook {
    grid-area: 2 / 2;
    display: flex;
    flex-direction: column;
    transform: rotate(-12.61deg);
    font-weight: 600;
    line-height: 102%;
    align-items: center;
    margin-bottom: calc(4.7vw + 0.116px);
    margin-right: calc(-3vw - 0.326px);
    align-self: top;
    justify-self: right;
    width: calc(20.9vw + 0.023px);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
  }
  .book {
    display: none;
  }
  .book2 {
    display: block;
    font-size: calc(4vw + 0.349px);
    font-weight: 500;
    line-height: 122%;
    color: #ffffff;
  }
  .video {
    grid-area: 1 / 3;
    display: flex;
    flex-direction: column;
    transform: rotate(0.33deg);
    font-weight: 600;
    line-height: 122%;
    color: #ffffff;
    align-self: center;
    justify-self: center;
    margin-left: calc(28.1vw - 0.047px);
    margin-top: calc(12.6vw - 0.186px);
    width: calc(19.8vw - 0.256px);
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
  }
  .book3 {
    display: block;
    font-size: calc(4vw + 0.349px);
    margin-left: calc(-7.9vw + 0.302px);
    font-weight: 500;
    line-height: 122%;
    align-self: center;
    justify-self: center;
    color: #ffffff;
  }
  .pay {
    grid-area: 2 / 5;
    display: flex;
    flex-direction: column;
    transform: rotate(13.28deg);
    font-size: calc(4.4vw - 0.14px);
    font-weight: 600;
    line-height: 120%;
    margin-top: calc(18.8vw - 0.279px);
    margin-right: calc(9.3vw + 0.233px);
    color: #ffffff;
    align-items: center;
    align-self: center;
    justify-self: right;
    width: calc(6.3vw + 0px);
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
  }

  .zagolovok {
    width: calc(93.7vw + 0.093px);
    font-size: calc(7.9vw - 0.302px);
    font-weight: 800;
    line-height: 122%;
    margin-left: 10px;
    margin-bottom: calc(9.3vw + 0.233px);
  }

  .applicationdesc {
    width: calc(93.7vw + 0.093px);
    height: calc(18.8vw - 0.279px);
    font-size: calc(6.3vw - 0.093px);
    font-weight: 600;
    line-height: 150%;
    margin-left: 10px;
    margin-bottom: calc(6.3vw - 0.093px);
  }

  .group {
    display: none;
  }
  .loveandcare {
    display: block;
    width: calc(93.7vw + 0.093px);
    height: calc(18.8vw - 0.279px);
    font-size: calc(6.3vw - 0.093px);
    font-weight: 600;
    line-height: 150%;
    margin-left: 10px;
    margin-bottom: calc(9.1vw - 0.023px);
  }
  .hearts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    margin-bottom: calc(25.1vw - 0.372px);
    margin-left: 10px;

  }
  .hearts2 {
    margin-bottom: calc(15.6vw + 0.14px);
    width: auto;    
  }
  .hearttext {
    width: calc(78.1vw - 0.04px);
    height: calc(20.7vw - 0.233px);
    font-size: calc(4.9vw + 0.372px);
    font-weight: 400;
    line-height: 140%;
    width: calc(78.1vw - 0.047px);
    align-content: center
  }

  .heartslogo {
    width: calc(10.9vw + 0.023px);
    height: auto;
    margin-right: calc(4.7vw + 0.116px);
  }

  .userName {
    display: none;
  }

  .tel {
    display: none;
  }

  .applicationbutton {
    display: none;
  }
}
